<div class="recipe-container">
    <% @recipes.each do |recipe| %>
        <%= render 'shared/recipe', recipe: recipe %>
    <% end %>
    <button class="recipe-btn"> <%= link_to "ADD RECIPE", new_recipe_path %></button>
</div>