* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 80%;
  height: 100%;
}

.intro {
  text-align: center;
  margin: 50px 0 70px;
}

.New {
  width: 100%;
  margin: 100px;
  padding: 20px;
  border: 5px solid black;
  text-align: center;
}

.food-field {
  font-weight: bold;
  width: 100%;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.submit {
  width: 100%;
  margin: 30px;
  padding: 10px;
}

.food {
  width: 100%;
  margin: 100px;
  padding: 20px;
  border: 5px solid black;
}

.add-food {
  width: 90%;
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
}

.add-food a {
  color: #000;
  width: 150px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border: 5px solid #000;
  box-shadow: 5px 10px #000;
}

.table-cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  border-collapse: collapse;
  width: 70%;
}

.table,
td,
th {
  border: 3px solid;
  padding: 10px;
  text-align: left;
  background-color: #ccc;
}

td {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: white;
}